/* GLOBAL STYLES */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    padding: 40px;
    max-width: 900px;
    margin: auto;
    line-height: 1.7;
    background: linear-gradient(135deg, #fafafa, #eaf1ff);
    color: #2e2e2e;
}

h1, h2 {
    color: #1f1f1f;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}


hr {
    border-top: 2px solid rgb(44, 51, 62);
    margin: auto;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 25px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: 600;
    color: #333;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

button {
    background-color: #2563eb;
    color: #fff;
    padding: 10px 22px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: 1d4ed8
}

button:active {
    background-color: #1e40af;
}

/* INPUT STYLES */
input, textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

input:focus, textarea:focus {
    border-color: #2563eb;
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

input::placeholder, textarea::placeholder {
    color: #999;
}

/* OTHER STYLES */
.loading-gif {
    height: 1em;
    vertical-align: middle;
    opacity: 0.8;
}


h1, h2, h3 {
    text-align: center;
    color: #1f1f1f;
}
